.left-plot {
  width: 25%;
  float: left;
}
.right-plot {
  width: 68%;
  float: right;
  /* border-left: solid 1px #272822; */
  padding-left:  1%;
  padding-right: 5%;
}

.rlogo-logo-left-top {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Rlogo.png);
}

.rlogo-logo-right-top {
content: "";
    position: absolute;
    top:     40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Rlogo.png);
}

.rlogo-logo-left-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Rlogo.png);
}

.rlogo-logo-left-bottom-M {
content: "";
    position: absolute;
    bottom:  40px;
    left:    60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Rlogo.png);
}

.rlogo-logo-right-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    right:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Rlogo.png);
}

.git-icon-red-left-top {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-1788C.png);
}

.git-icon-red-left-top-M {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-1788C.png);
}

.git-icon-red-right-top {
content: "";
    position: absolute;
    top:     40px;
    right:   40px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-1788C.png);
}

.git-icon-red-left-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-1788C.png);
}

.git-icon-white-left-top {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-White.png);
}

.git-icon-white-right-top {
content: "";
    position: absolute;
    top:     40px;
    right:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-White.png);
}

.git-icon-white-left-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Git-Icon-White.png);
}

.GH-Octocat-left-top {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Octocat.jpg);
}

.GH-Octocat-right-top {
content: "";
    position: absolute;
    top:     40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Octocat.jpg);
}

.GH-Octocat-left-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Octocat.jpg);
}

.GH-Octocat-left-bottom-M {
content: "";
    position: absolute;
    bottom:  40px;
    left:    60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Octocat.jpg);
}

.GH-Octocat-right-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Octocat.jpg);
}

.GH-Octocat-right-bottom-M {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/Octocat.jpg);
}

.GH-Mark-White-right-bottom {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/GitHub-Mark-Light-120px-plus.png);
}

.GH-Mark-White-right-top {
content: "";
    position: absolute;
    top:     40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/GitHub-Mark-Light-120px-plus.png);
}


/* emojis: SVGs https://github.com/twitter/twemoji/tree/gh-pages/2/svg/ */

.emoji-thinking-right-bottom-S {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/1f914-thinking.svg);
}

.emoji-thinking-right-bottom-M {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/1f914-thinking.svg);
}

.emoji-crying-right-bottom-S {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/1f62d-crying.svg);
}

.emoji-crying-right-bottom-M {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/1f62d-crying.svg);
}

.emoji-exploding-head-right-bottom-S {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/1f92f-exploding-head.svg);
}

.emoji-exploding-head-right-bottom-M {
content: "";
    position: absolute;
    bottom:  40px;
    right:   60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/1f92f-exploding-head.svg);
}


.emoji-warning-left-top-S {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/26a0-warning.svg);
}

.emoji-warning-left-top-M {
content: "";
    position: absolute;
    top:     40px;
    left:    60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/26a0-warning.svg);
}

.emoji-warning-right-top-S {
content: "";
    position: absolute;
    top:     40px;
    right:   60px;
    height: 120px;
    width:  120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/26a0-warning.svg);
}

.emoji-warning-right-top-M {
content: "";
    position: absolute;
    top:     40px;
    right:   60px;
    height: 160px;
    width:  160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(images/26a0-warning.svg);
}
